<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= @post.name%></h1>
    <p><%= @post.content%></p>
    <br />
    <form method="POST" action="/posts<%= @post.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type"submit" value="delete">
    </form>
    
</body>
</html>